<ul class="nav container">
    <div class="row">
    <li class="nav-item d-flex col-6 mt-7">
        <img src="../assets/images/logo.png" alt="sparkle" class="logo me-5">
        <a href="../pages/index.html" class="fs-5 text-nowrap d-flex">7TAO<span class="fs-6 mt-5 ms-1 mb-2 me-11">活動訂票網</span></a>
        <input type="text" placeholder="探索活動" class="search">
        <button type="submit" class="submit px-5"><i class="bi bi-search"></i></button>
    </li>
   
  
    <li class="nav-item col-6 d-flex">
      <a class="nav-link" href="#">
        <i class="bi bi-file-earmark-richtext">REGISTER</i>
    </a>
      <a href="#" class="nav-link">
        <i class="bi bi-person-fill">LOGIN</i>
      </a>
    </li>
   
</div>
  </ul>