
.index-title {
  font-size: 100px;

}
.carousel-item{
  height:350px;
  @media (min-width:992px) {
    height:518px;
  }
}
.carousel-caption{

h4{
  font-family: 'Noto Serif TC';
}
  p{
    font-family:'Noto Sans TC';
  }
  span{
    font-family:'Yeseva One';
    font-size:$font-size-base*2;
    @media (min-width:992px) {
      font-size:60px;
    }
   
  }
}


.text-banner{
  font-family:'Yeseva One', 'Noto Serif TC';
  
}

.button-context,.button-text{
  height:112px;
  @media (min-width:992px) {
  height:196px;
  }
  font-family: 'Noto Serif TC';
}

.button-text{
  color:yellow;
  
}
